<h2>Cart</h2>

<ul class="list-group">
    <li class="list-group-item">
        <img class="cart-page-product-img" src="{{product.imgUrl}}" alt="{{product.name}} image">
        <p>ID: {{product.id}}</p>
        <p>SKU: {{product.sku}}</p>
    </li>
</ul>

<div>
    <a class="btn btn-default" href="/">Home</a>
</div>
