<h1>{{title}}</h1>
<p>Welcome to {{title}}, the finest source of {{storeProductType}} products.</p>

<form method="GET" action="/search">
    <div class="form-group">
        <span>Search:</span>
        <input type="text" name="q">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<script>
    console.log('hello world');
</script>