<h1>{{title}}</h1>
<p>Welcome to {{title}}, the finest source of beacon products.</p>

<form method="GET" action="/search">
  Search:<br>
  <input type="text" name="searchterm">
  <input type="submit" value="Search">
</form>